#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: randychavez # Change me (nombre del dominio sin .com)

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDwfvMoc4XbguGfm0HAec/tQfWTkMvD1pLW3pLVzW1uj3EQ6bCQvFyOdx/BKrdYSsJq4tqgstlSSIvy+TFMfqQ5dnI0+/+QZqOUtJ7TnPtHgp18wop0qDV9VNotkBr8AtQck3u5uXotfw02q4DKnM7JzYtgtGbbM+QooLkMLXy5Rkf5QhmgaBbhJEkRdtCZulVjYrup5OGfYLNLyqXwjT1O+FRUAt5qQ13jBsJDaXJJj6wBukUY8llDkEnBNZ9vY34vO6tS2HaRpMBCYdmy4KjKC5IWOmFheCCH9o87/yeJYcn1Wum99+GyiyarnEfTwzFEknJiipwj3BanM1BtZfpJ randychavez@randychavez 
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
